@using CouponBuddy.Web.Data;
@using CouponBuddy.Entities;

@inject ApplicationDbContext  _context;

@model CouponBuddy.Entities.Location

@{
    ViewData["Title"] = "Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Location</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                <label>Vendors</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Id)
            </td>
            <td>
                    @{
                        string id = Model.Id;
                        var vendors = _context.Vendors.ToList()
                            .Where(x => x.GetLocations().Contains(id))
                            .AsEnumerable<Vendor>();

                        foreach (var vendor in vendors.ToList())
                        {
                            <a asp-action="VendorDetails" asp-route-id="@vendor.Id">@vendor.Name</a><br/>
                        }
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Name)
            </td>
        </tr>
    </tbody>
</table>
