@model IEnumerable<BrochureBuddy.Entities.Location>

@{
    ViewData["Title"] = "LocationsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Locations</h2>

<p>
    <a asp-action="ViewCreateLocation">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="ViewLocation" asp-route-id="@item.Id">View</a> |
                <a asp-action="ViewEditLocation" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="ViewDeleteLocation" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
