@using  CouponBuddy.Entities.Metadata;
@using CouponBuddy.Entities;
@using  CouponBuddy.Web.Data;
@using System.Text;

@inject ApplicationDbContext _context;

@model CouponBuddy.Entities.Vendor

@{
    ViewData["Title"] = "Vendor Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VendorDetails</h2>

<div>
    <h4>Vendor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            <label>Category</label>
        </dt>
        <dd>
            @{
                CategoryInfo categoryInfo = Categories.GetCategory(Model.CategoryId);
            }
            <label>@categoryInfo.DisplayName</label>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            <label>Locations</label>
        </dt>
        <dd>
            @{
                StringBuilder locationsString = new StringBuilder();
                if (Model.GetLocations().ToList().Count > 0)
                {
                    foreach (string locationId in Model.GetLocations())
                    {
                        Location location = _context.Locations.SingleOrDefault(x => x.Id == locationId);
                        if (location != null)
                        {
                            locationsString.AppendLine(location.Name);
                        }
                        else
                        {
                            locationsString.AppendLine("*Location Not Found*");
                        }
                    }
                }
                else
                {
                    locationsString.Append("Vendor has no locations");
                }
            }

            <label>@locationsString.ToString()</label>
        </dd>
        <dt>
            @Html.DisplayNameFor(x => x.WebsiteUrl)
        </dt>
        <dd>
            @Html.DisplayFor(x => x.WebsiteUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
