@using  CouponBuddy.Entities.Metadata;
@using CouponBuddy.Entities;
@using  CouponBuddy.Web.Data;
@using System.Text;
@using CouponBuddy.WebCore.PageUtil;

@inject ApplicationDbContext _context;
@*@model IEnumerable<CouponBuddy.Entities.Vendor>*@

@model PaginatedList<CouponBuddy.Entities.Vendor>

@{
    ViewData["Title"] = "Vendors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vendors List</h2>

<p>
    <a asp-action="Create" class="btn btn-default" role="button">Create New</a>
</p>

<form asp-action="VendorsList" method="get">
    <div class="form-actions no-color">
        <p>
            Search: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="VendorsList">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Phone
            </th>
            <th>
                <a asp-action="VendorsList" asp-route-sortOrder="@ViewData["CategorySortParm"]">Category</a>
            </th>
            <th>
                Username
            </th>
            <th>
                <a asp-action="VendorsList" asp-route-sortOrder="@ViewData["LocationSortParm"]">Locations</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @{
                        CategoryInfo categoryInfo = Categories.GetCategory(item.CategoryId);
                    }
                    <label>@categoryInfo.DisplayName</label>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @{
                        StringBuilder locationsString = new StringBuilder();
                        if (item.GetLocations().ToList().Count > 0)
                        {
                            foreach (string locationId in item.GetLocations())
                            {
                                Location location = _context.Locations.SingleOrDefault(x => x.Id == locationId);
                                if (location != null)
                                {
                                    locationsString.AppendLine(location.Name);
                                }
                                else
                                {
                                    locationsString.AppendLine("*Location Not Found*");
                                }
                            }
                        }
                        else
                        {
                            locationsString.Append("Vendor has no locations");
                        }
                    }

                    <label>@locationsString.ToString()</label>

                </td>
                <td>
                    <a asp-action="ViewEditVendor" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="VendorDetails" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="DeleteVendor" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="ManageVendorContent" asp-route-id="@item.Id">Manage Content</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="VendorsList"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="VendorsLIst"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>