@model CouponBuddy.Entities.Vendor

@{
    ViewData["Title"] = "RemoveVendor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Remove Vendor</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vendor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.HomePageAdId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomePageAdId)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
    </dl>
    
    <form asp-action="RemoveVendor">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Remove From Location" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
