@using CouponBuddy.WebCore.Storage;
@using CouponBuddy.Web.Data;
@using CouponBuddy.Util;

@inject ImageLoader _imageLoader;
@inject ApplicationDbContext _context;

@model IEnumerable<CouponBuddy.Entities.LocationAd>

@{
    ViewData["Title"] = "ViewAds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Ads</h2>

<p>
    <a asp-action="CreateAd">Create New Ad</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                <label>Content</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @{
                        var location = _context.Locations.Single(x => x.Id == item.LocationId);
                        string locationName = VendorToContainer.GetContainerName(location.Name);
                        byte[] imgBytes = _imageLoader.LoadImage(locationName, item.Name).GetAwaiter().GetResult();
                        string imgUrl = "data:image/png;base64," + Convert.ToBase64String(imgBytes);
                    }
                    <img src="@imgUrl" width="1080" height="200" />
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="DeleteAd" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
